@use '../abstracts/' as *;

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
