@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

$ff-sans: 'Barlow Semi Condensed', sans-serif;

$font-sizes: (
	default: 0.8125rem,
	heading: 1.25rem,
);

$fw-500: 500;
$fw-600: 600;
